:root {
    --primary-color: #1976d2;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.pulsar {
    animation: pulse 0.25s infinite;
}

@keyframes pulse {
    0% {
        border-color: rgba(0, 0, 0, 0.87);
    }
    100% {
        border-color: #ff4136;
    }
}

@keyframes text-pulse {
    0% {
    }
    50% {
        color: black;
    }
    100% {
    }
}

@keyframes border-pulse {
    0% {
    }
    50% {
        border-color: black;
        border-width: 2px;
    }
    100% {
    }
}
