.flex {
    display: flex;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.flex_beteen_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
